$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?1d678ef90a67ed3a846c6b364362addb") format("truetype"),
url("./flaticon.woff?1d678ef90a67ed3a846c6b364362addb") format("woff"),
url("./flaticon.woff2?1d678ef90a67ed3a846c6b364362addb") format("woff2"),
url("./flaticon.eot?1d678ef90a67ed3a846c6b364362addb#iefix") format("embedded-opentype"),
url("./flaticon.svg?1d678ef90a67ed3a846c6b364362addb#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "dashboard": "\f101",
    "cart": "\f102",
    "customer-support": "\f103",
    "layers": "\f104",
    "monitor": "\f105",
    "earth-globe": "\f106",
);

.flaticon-dashboard:before {
    content: map-get($flaticon-map, "dashboard");
}
.flaticon-cart:before {
    content: map-get($flaticon-map, "cart");
}
.flaticon-customer-support:before {
    content: map-get($flaticon-map, "customer-support");
}
.flaticon-layers:before {
    content: map-get($flaticon-map, "layers");
}
.flaticon-monitor:before {
    content: map-get($flaticon-map, "monitor");
}
.flaticon-earth-globe:before {
    content: map-get($flaticon-map, "earth-globe");
}
